#section4 {
    background-image: url("collage.jpg");
    color: #fff;
    position: relative;
    width: 1280px;
    height: 761px;
}
#section4 p {
    position: relative;
    text-align: center;;
    font-family: "Neue Haas Grotesk W01",sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 62px;
    line-height: 1.4;
    background-color: transparent;
    padding-top: 200px; 


}


#bouton {

    width: 200px;
    height: 35px;
    border: 1px solid #fff;
    margin-left: 550px;
    padding: 5px;
    border-radius: 5px;
    margin-top: -20px;
}

#bouton a {
    font-size: 13px;
    font-family: "Neue Haas Grotesk W01",sans-serif;
    background-color: transparent;
    letter-spacing: 2px;
    padding: 33px;
    line-height: 1.4;
    color: #fff;
}

a, a:active, a:visited {
    color: #00964c;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
   
}

#bouton:hover {
    background-color: green;
    color: green;
    cursor: pointer;
}

#Newsletter {
    width: 1280px;
    height: 380px;
    background-color: #1e1d1d;
    position: absolute;
    display: inline;
}
#Newsletter p {

    font-family: Merriweather,Georgia,serif;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

span {
    color: #00964c;
}
#Newsletter-form {
    display: flex;

    margin: 20px;
}

.Newsletter-block{
    width: 285px;
    height: 55px;    
    padding: 20px;
    border-radius: 3px;
    color: #222;
}


.btn-contact {
    margin: 0;
    width: 100%;
    height: 55px;
    background-color:#00964c;


}
input[type=text], input[type=email] {
    display: inline-block;
    width: 100%;
    height: 55px;
    border: 0;
    padding-left: 20px;
    border-radius: 3px;
    color: #222;
    background-color: #3d3d3d;
}